body {
  font-family: Arial;
  background: #0f0f14;
  color: white;
  display: flex;
  justify-content: center;
}

.app {
  width: 380px;
  padding: 30px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  background: #4c7dff;
  color: white;
  border: none;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  background: #1c1c24;
  padding: 15px;
  border-radius: 10px;
}

canvas {
  margin-top: 20px;
  background: #fff;
  border-radius: 10px;
}
